<div class="reservation-pop-up" id="reservation-pop-up">
    <div class="pop-up__header">
        <h1>Reservering</h1>
        <div class="button-wrapper">
            <button class="close" onclick="hidePopUp()">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <form action="#">
        <label id="number" for="number">Nummer
            <input id="number" name="number" type="text" value="<%= node.number %>" disabled>
        </label>
        <label id="name" for="name">Naam
            <input id="name" name="name" type="text" value="<%= node.name %>" disabled>
        </label>
        <label id="costTotal" for="costTotal">Totaal kosten
            €<input id="costTotal" name="costTotal" type="text" value="<%= node.costTotal %>">
        </label>
        <label id="costPaid" for="costPaid">Totaal betaald
            €<input id="costPaid" name="costPaid" type="text" value="<%= node.costPaid %>">
        </label>
        <label id="amountUnpaid" for="amountUnpaid">Openstaand
            €<input id="amountUnpaid" name="amountUnpaid" type="text" value="<%= node.amountUnpaid %>" disabled>
        </label>
        <button class="buttons__add" type="button" onclick="updateReservation(this.parentElement)">Kosten Toevoegen</button>
    </form>
</div>