<div class="reservation-pop-up" id="reservation-pop-up">
    <div class="pop-up__header">
        <h1>Reservering</h1>
        <div class="button-wrapper">
            <button class="close" onclick="hidePopUp()">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <form action="#">
        <div class="form__groups">
            <label id="number" for="number">
                <p>Nummer</p>
                <input id="number" name="number" type="text" value="<%= number %>" disabled>
            </label>
            <label id="guest" for="guest">
                <p>Gast</p>
                <input id="guest" name="guest" type="text" value="<%= result[0].guest.name %>" disabled>
            </label>
            <label id="dateArrival" for="dateArrival">
                <p>Aankomst</p>
                <input id="dateArrival" name="dateArrival" type="text" value="<%=result[0].dateArrival%>" disabled>
            </label>
            <label id="dateDeparture" for="dateDeparture">
                <p>Vertrek</p>
                <input id="dateDeparture" name="dateDeparture" type="text" value="<%=result[0].dateDeparture%>" disabled>
            </label>
        </div>
        <table class="pop-up-table">
            <thead>
                <tr>
                    <th>Object</th>
                    <th>Totaal kosten</th>
                    <th>Totaal betaald</th>
                    <th>Openstaand</th>
                    <th>Achterstand sinds</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (const dataEntry of result) { %>
                <tr id="row<%=dataEntry.id%>">
                    <td class="objectRow">
                        <input class="data-entry" name="objectRow" type="text" value="<%= dataEntry.objects.map(el => el.description).join(',') %>" disabled>
                    </td>
                    <td class="costTotal">
                        <input class="data-entry" name="costTotal" type="text" value="<%=dataEntry.costTotal%>">
                    </td>
                    <td class="costPaid">
                        <input class="data-entry" name="costPaid" type="text" value="<%=dataEntry.costPaid%>">
                    </td>
                    <td class="amountUnpaid">
                        <input class="data-entry" name="amountUnpaid" type="text" value="<%=dataEntry.amountUnpaid%>" disabled>
                    </td>
                    <td class="unpaidSince">
                        <input class="data-entry" name="unpaidSince" type="text" value="<%=dataEntry.unpaidSince%>" disabled>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </form>
    <div class="buttons">
        <button class="buttons__add" type="button" onclick="updateEntry(this)">Kosten Toevoegen</button>
    </div>
</div>